In [37]:
import pandas as pd
import json

In [41]:
df = pd.read_csv("./liber_777.csv")

In [42]:
df = df.transpose()

In [43]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,25,26,27,28,29,30,31,32,33,34
Category,0,1,2,3,4,5,6,7,8,9,...,25,26,27,28,29,30,31,32,32 bis,31 bis
2 - Hebrew Names,Ain () - Ain Soph ( 住祝) - Ain Soph Aur ...,(转专) Kether,Chokmah (),() Binah,Chesed (),(专) Geburah,Tiphareth (),(爪) Netzach,Hod (),(住) Yesod,...,(住) Samekh,Ayin (),(驻) P茅,(爪) Tzaddi,(拽祝) Qoph,(专砖) Resh,(砖) Shin,(转) Tau,(转) Tau,(砖) Shin
3 - English of II,Limitless LVX - No Limit - Nothing,Crown,Wisdom,Understanding,Mercy,Strength,Beauty,Victory,Splendour,Foundation,...,Prop,Eye,Mouth,Fish-hook,Back of head,Head,Tooth,Tau (as Egyptian),...,...
10 - Mystic Numbers of the Sephiroth,0,1,3,6,10,15,21,28,36,45,...,325,351,378,406,435,465,496,528,...,...
11 - Elements & Rulers,...,Root of,Root of,Root of,,,,,,,...,Sun - - Jupiter,Venus - - Moon,...,Saturn - - Mercury,Mars -,...,Hot & Dry,...,Cold & Dry,...

In [44]:
df = df.reset_index()

In [45]:
df = df.iloc[1:]

In [46]:
json_string = df.to_json(orient='records', force_ascii=False)
o = json.loads(json_string)

In [47]:
json_data = json.dumps(o, ensure_ascii=False).encode('utf-8').decode('unicode_escape')

# Specify the JavaScript file path
js_file_path = '../src/liber_777.js'

import json
with open(js_file_path, 'w', encoding='utf8') as f:
	f.write('export const Liber777 = ')
	json.dump(o, f, ensure_ascii=False)
	f.write(';')